<!doctype html>
<html lang="en">
<head>
    {% extends "main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--Bloque de código asociado a esta vista -->
    {% block VariableContent %}
    <title>Cursos</title>
    </head>

    <h1>Ingrese los datos del curso que desea agregar</h1>
        <form action="{% url 'Cursos' %}"method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Crear">
        </form>
    <hr><br>
    <h1>Ingrese el nombre del curso que desea buscar</h1>
    <form action="{% url 'BuscarCurso' %}" >
         {{search_form.as_p}}

      <input type="submit" value="Buscar">
    </form>

    {% endblock %}
</html>