<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% extends "main.html" %}
{% load static %}
{% block VariableContent %}
<!--Bloque de código asociado a esta vista -->
    <title>Tareas</title>
</head>
<body>
<h1>En esta sección se encuentran las Tareas </h1>
<p>Acá iría el contenido sobre las tareas</p>
</body>
{% endblock%}
</html>