<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% extends "main.html" %}
{% load static %}
{% block VariableContent %}
<!--Bloque de código asociado a esta vista -->
    <title>Tareas</title>
</head>
<body>
<h1>En esta sección se encuentran las Tareas </h1>
<form action="{% url 'Tareas' %}"method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar">
        </form>
        {% if homeworks %}
            {% for hw in homeworks %},
                <p> name: {{ homework.name }} </p>
                <p> date: {{ homework.date }} </p>
                <p> handed_in: {{ homework.handed_in }}</p>
            {% endfor %}
        {% else %}
            <h1>No hay tareas ingresadas</h1>
        {% endif %}
    {% endblock %}
</html>