<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% extends "main.html" %}
{% load static %}
{% block VariableContent %}
<!--Bloque de código asociado a esta vista -->
    <title>Alumnos</title>
</head>

    <h1>Si es alumno, ingrese sus datos</h1>
        <form action="{% url 'Alumnos' %}"method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar">
        </form>
        {% if students %}
            {% for student in students %},
                <p> name: {{ student.name }} </p>
                <p> surname: {{ student.surname }} </p>
                <p> mail: {{ student.mail }}</p>
            {% endfor %}
        {% else %}
            <h1>No hay alumnos ingresados</h1>
        {% endif %}
    {% endblock %}
</html>